---
import { getAllPosts } from '@utils/content'
import { slugifySpace } from '@utils/format'
import { formatDateYMD } from '@utils/format'
import { useLocale } from '@utils/locale'
import Layout from '../layouts/Layout.astro'

const { path, t, locale: urlLocale } = useLocale(Astro.url)
const { tag, locale: propsLocale } = Astro.props
const locale = propsLocale || urlLocale || 'zh'
const { posts, tags } = await getAllPosts(locale, tag)

const filterType = 'tags'
const filterName = tag

function getTitle(post: any) {
  if (!locale || locale === 'zh') return post.title
  const enTitle = post['title-en']
  if (!enTitle) return post.title
  return enTitle
}
---

<Layout title={t("nav.posts")}>
  {
    filterName && (
      <div class="mt-2">
        <span class="text-xl font-bold italic ml-2">
          " {t(`${filterType}.` + filterName)} "
        </span>
      </div>
    )
  }
  <main class="mt-8">
    <ul class="list-none pl-0">
      {
        posts.map((post: any) => {
          return (
            <li class="my-4">
              <div class="flex flex-nowrap">
                <span
                  style={{ flex: "0 0 10rem" }}
                  class="text-gray-500 whitespace-nowrap"
                >
                  <time class="mr-8 italic">{formatDateYMD(post.date)}</time>
                </span>
                <span class="flex-1 truncate">
                  <a
                    rel="prefetch-intent"
                    href={path(post.url)}
                    class="link-static"
                  >
                    {getTitle(post)}
                  </a>
                </span>
              </div>
            </li>
          );
        })
      }
    </ul>

    <div class="mt-6">
      {
        [...tags].map((tag) => {
          const tagUrl = `/${locale}/tags/${slugifySpace(tag)}/`
          return (
            <a
              class="mr-3 mb-2 text-base link hover:font-bold inline-block"
              href={tagUrl}
            >
              #{t("tags." + tag)}
            </a>
          );
        })
      }
    </div>
  </main>
</Layout>
